flow5.json
[
    {
        "id": "43dcd0b4eacd0a31",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1aceb7f39242269c",
        "type": "inject",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "240",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "cc6ac4657175af11",
                "e9f2d5eb2910bed9"
            ]
        ]
    },
    {
        "id": "cc6ac4657175af11",
        "type": "http request",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/onecall?lat=19.354509&lon=-99.236450&exclude=hourly,daily&appid=2bf374faf97f87e009a827a0832fd0e7&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 100,
        "wires": [
            [
                "5965bc1531cd831f"
            ]
        ]
    },
    {
        "id": "5965bc1531cd831f",
        "type": "json",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 100,
        "wires": [
            [
                "d6882bb8f8b4eab2",
                "0c111840a9b32a08",
                "79ef4c446da50315"
            ]
        ]
    },
    {
        "id": "d6882bb8f8b4eab2",
        "type": "function",
        "z": "43dcd0b4eacd0a31",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.current.temp;\nglobal.set (\"tempFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 100,
        "wires": [
            [
                "25426b018e1e4dc9"
            ]
        ]
    },
    {
        "id": "0c111840a9b32a08",
        "type": "function",
        "z": "43dcd0b4eacd0a31",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.current.humidity;\nglobal.set (\"humFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 160,
        "wires": [
            [
                "65c379167d489d07"
            ]
        ]
    },
    {
        "id": "25426b018e1e4dc9",
        "type": "ui_gauge",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "group": "450ded11e4d5f7a6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": "2",
        "max": "38",
        "colors": [
            "#0094ce",
            "#73d216",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 970,
        "y": 100,
        "wires": []
    },
    {
        "id": "65c379167d489d07",
        "type": "ui_gauge",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "group": "450ded11e4d5f7a6",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#8f5902",
            "#73d216",
            "#0094ce"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 960,
        "y": 160,
        "wires": []
    },
    {
        "id": "630999158e894127",
        "type": "mqtt in",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/flow5",
        "qos": "2",
        "datatype": "auto",
        "broker": "7067f09cda152ac5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "d81fa3b3532f55cc"
            ]
        ]
    },
    {
        "id": "d81fa3b3532f55cc",
        "type": "json",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 360,
        "wires": [
            [
                "e182dc10443ad130",
                "9c955241bef1499a",
                "d43194762be54de3",
                "2ef3688057ca8317"
            ]
        ]
    },
    {
        "id": "e182dc10443ad130",
        "type": "function",
        "z": "43dcd0b4eacd0a31",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 360,
        "wires": [
            [
                "4fda1e17d1b59a26"
            ]
        ]
    },
    {
        "id": "4fda1e17d1b59a26",
        "type": "ui_chart",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "group": "cafe9c35114fd2c3",
        "order": 1,
        "width": 12,
        "height": 6,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "55",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "9c955241bef1499a",
        "type": "function",
        "z": "43dcd0b4eacd0a31",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 420,
        "wires": [
            [
                "37760eadcbfc265a"
            ]
        ]
    },
    {
        "id": "37760eadcbfc265a",
        "type": "ui_chart",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "group": "cafe9c35114fd2c3",
        "order": 2,
        "width": 12,
        "height": 6,
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "c2e68891d6a33c8b",
        "type": "inject",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "bbbd42ca88b7af2c"
            ]
        ]
    },
    {
        "id": "bbbd42ca88b7af2c",
        "type": "function",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "func": "//msg.payload = '{\"id\":\"Lalo\",\"temp\":'+global.get (\"tempFlow5\")+',\"hum\":'+global.get (\"humFlow5\")+'}';\nmsg.payload = '{\"id\":\"Lalo\",\"temp\":'+global.get (\"tempFlow5\")+',\"hum\":'+global.get (\"humFlow5\")+',\"uv\":'+global.get (\"uvFlow5\")+',\"aqi\":'+global.get (\"aqi\")+'}';\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 620,
        "wires": [
            [
                "db33918facea3259"
            ]
        ]
    },
    {
        "id": "db33918facea3259",
        "type": "mqtt out",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/flow5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7067f09cda152ac5",
        "x": 640,
        "y": 620,
        "wires": []
    },
    {
        "id": "79ef4c446da50315",
        "type": "function",
        "z": "43dcd0b4eacd0a31",
        "name": "UV",
        "func": "msg.payload = msg.payload.current.uvi;\nglobal.set (\"uvFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 220,
        "wires": [
            [
                "edcf326401930aec"
            ]
        ]
    },
    {
        "id": "edcf326401930aec",
        "type": "ui_gauge",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "group": "450ded11e4d5f7a6",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "UV",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "7",
        "className": "",
        "x": 950,
        "y": 220,
        "wires": []
    },
    {
        "id": "e4b7c4e62d238e77",
        "type": "function",
        "z": "43dcd0b4eacd0a31",
        "name": "Calidad del aire",
        "func": "msg.payload = msg.payload.list[0].main.aqi;\nglobal.set (\"aqi\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 280,
        "wires": [
            [
                "cfdec9c397567e86"
            ]
        ]
    },
    {
        "id": "e9f2d5eb2910bed9",
        "type": "http request",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://api.openweathermap.org/data/2.5/air_pollution?lat=19.354509&lon=-99.236450&appid=2bf374faf97f87e009a827a0832fd0e7",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 160,
        "wires": [
            [
                "9e5ae01f6858367e"
            ]
        ]
    },
    {
        "id": "9e5ae01f6858367e",
        "type": "json",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 160,
        "wires": [
            [
                "e4b7c4e62d238e77"
            ]
        ]
    },
    {
        "id": "cfdec9c397567e86",
        "type": "ui_gauge",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "group": "450ded11e4d5f7a6",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Calidad del aire",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 980,
        "y": 280,
        "wires": []
    },
    {
        "id": "d43194762be54de3",
        "type": "function",
        "z": "43dcd0b4eacd0a31",
        "name": "UV",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.uv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 480,
        "wires": [
            [
                "b5a5e0df1792279a"
            ]
        ]
    },
    {
        "id": "2ef3688057ca8317",
        "type": "function",
        "z": "43dcd0b4eacd0a31",
        "name": "Calidad del aire",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.aqi;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 540,
        "wires": [
            [
                "aeadf73315b6f0a2"
            ]
        ]
    },
    {
        "id": "b5a5e0df1792279a",
        "type": "ui_chart",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "group": "cafe9c35114fd2c3",
        "order": 3,
        "width": 12,
        "height": 6,
        "label": "UV",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "aeadf73315b6f0a2",
        "type": "ui_chart",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "group": "cafe9c35114fd2c3",
        "order": 4,
        "width": 12,
        "height": 6,
        "label": "Calidad del aire",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 780,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "450ded11e4d5f7a6",
        "type": "ui_group",
        "name": "Personal",
        "tab": "dfe3504dbab7d6a9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7067f09cda152ac5",
        "type": "mqtt-broker",
        "name": "Broker HiveMQ",
        "broker": "18.157.172.72",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cafe9c35114fd2c3",
        "type": "ui_group",
        "name": "General",
        "tab": "dfe3504dbab7d6a9",
        "order": 2,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dfe3504dbab7d6a9",
        "type": "ui_tab",
        "name": "Flow 5",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]