flow5.json
[
    {
        "id": "43dcd0b4eacd0a31",
        "type": "tab",
        "label": "Flow 5",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1aceb7f39242269c",
        "type": "inject",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "cc6ac4657175af11"
            ]
        ]
    },
    {
        "id": "cc6ac4657175af11",
        "type": "http request",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=19.354509&lon=-99.236450&appid=2bf374faf97f87e009a827a0832fd0e7&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 310,
        "y": 100,
        "wires": [
            [
                "5965bc1531cd831f"
            ]
        ]
    },
    {
        "id": "5965bc1531cd831f",
        "type": "json",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 530,
        "y": 100,
        "wires": [
            [
                "d6882bb8f8b4eab2",
                "0c111840a9b32a08"
            ]
        ]
    },
    {
        "id": "d6882bb8f8b4eab2",
        "type": "function",
        "z": "43dcd0b4eacd0a31",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.main.temp;\nglobal.set (\"tempFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 100,
        "wires": [
            [
                "25426b018e1e4dc9"
            ]
        ]
    },
    {
        "id": "0c111840a9b32a08",
        "type": "function",
        "z": "43dcd0b4eacd0a31",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.main.humidity;\nglobal.set (\"humFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 160,
        "wires": [
            [
                "65c379167d489d07"
            ]
        ]
    },
    {
        "id": "25426b018e1e4dc9",
        "type": "ui_gauge",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "group": "450ded11e4d5f7a6",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "2",
        "max": "38",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 100,
        "wires": []
    },
    {
        "id": "65c379167d489d07",
        "type": "ui_gauge",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "group": "450ded11e4d5f7a6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "630999158e894127",
        "type": "mqtt in",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/flow5",
        "qos": "2",
        "datatype": "auto",
        "broker": "7067f09cda152ac5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "d81fa3b3532f55cc"
            ]
        ]
    },
    {
        "id": "d81fa3b3532f55cc",
        "type": "json",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "e182dc10443ad130",
                "9c955241bef1499a"
            ]
        ]
    },
    {
        "id": "e182dc10443ad130",
        "type": "function",
        "z": "43dcd0b4eacd0a31",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 260,
        "wires": [
            [
                "4fda1e17d1b59a26"
            ]
        ]
    },
    {
        "id": "4fda1e17d1b59a26",
        "type": "ui_chart",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "group": "cafe9c35114fd2c3",
        "order": 0,
        "width": "12",
        "height": "6",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "55",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 750,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9c955241bef1499a",
        "type": "function",
        "z": "43dcd0b4eacd0a31",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 320,
        "wires": [
            [
                "37760eadcbfc265a"
            ]
        ]
    },
    {
        "id": "37760eadcbfc265a",
        "type": "ui_chart",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "group": "cafe9c35114fd2c3",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "20",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "c2e68891d6a33c8b",
        "type": "inject",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "bbbd42ca88b7af2c"
            ]
        ]
    },
    {
        "id": "bbbd42ca88b7af2c",
        "type": "function",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "func": "msg.payload = '{\"id\":\"Lalo\",\"temp\":'+global.get (\"tempFlow5\")+',\"hum\":'+global.get (\"humFlow5\")+'}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 460,
        "wires": [
            [
                "db33918facea3259"
            ]
        ]
    },
    {
        "id": "db33918facea3259",
        "type": "mqtt out",
        "z": "43dcd0b4eacd0a31",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/flow5",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7067f09cda152ac5",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "450ded11e4d5f7a6",
        "type": "ui_group",
        "name": "Personal",
        "tab": "dfe3504dbab7d6a9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7067f09cda152ac5",
        "type": "mqtt-broker",
        "name": "Broker HiveMQ",
        "broker": "18.156.8.172",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cafe9c35114fd2c3",
        "type": "ui_group",
        "name": "General",
        "tab": "dfe3504dbab7d6a9",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dfe3504dbab7d6a9",
        "type": "ui_tab",
        "name": "Flow 5",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]